.search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin-right: 20rem;
  margin-top: 3rem;
}

.search-wrapper form {
  width: 100%;
  text-align: center;
}

.nearme-search {
  height: 35px;
  padding-left: 1rem;
  padding-right: 10rem;
  font-family: "Roboto", sans-serif;
  border: none;
  background: #EBEAEA;
  border-radius: 6px;
}

.art-map {
  width: 60%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

.artist-location {
  width: 20%;
  height: 100%;
  margin-left: 18rem;
  background: #1F1F1F;
  position: absolute;
  margin-top: -2rem;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
  height: 520px;
  overflow-y: scroll;
}

.artist-location-info:hover {
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.artist-location-info p:hover {
  text-decoration: none;
}

.artist-location-info {
  width: 90%;
  margin: 1rem auto;
  background: #282A2F;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.artist-location-info p {
  margin: 0;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none!important;
}

.map-modal-img {
  width: 20%;
}

.near-artist-img {
  border-radius: 50%;
  width: 4rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
  