/* .map {
    width: 70%;
    height: 100%;
} */

.search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.nearme-search {
  width: 45%;
  height: 35px;
  padding-left: 1rem;
  font-family: "Roboto", sans-serif;
  margin: auto;
  border: none;
  background: #EBEAEA;
  border-radius: 10px;
}

.artist-location {
  width: 20%;
  margin-left: 2rem;
  margin-bottom: 1rem;
  background: #FFF5F8;
  position: absolute;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
  height: 520px;
  overflow-y: scroll;
}

.artist-location-info:hover {
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.artist-location-info p:hover {
  text-decoration: none;
}

.artist-location-info {
  width: 90%;
  margin: 1rem auto;
  background: white;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.artist-location-info p {
  margin: 0;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none!important;
}

.map-modal-img {
  width: 20%;
}

.near-artist-img {
  border-radius: 50%;
  width: 4rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
  