.upload-white-rectangle {
  background-color: white;
  width: 70%;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0px 10px 10px hsla(0, 0%, 0%, 0.1);
  margin: 10rem auto;
  cursor: pointer;
}

.upload-white-rectangle p {
  font-weight: 300;
  margin-left: 3rem;
  margin-top: 3rem;
  font-size: 0.8rem;
}

.upload-white-rectangle span {
  margin-left: 4rem;
  font-size: 1.2rem;
}

.add-art-form-wrapper {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
}

.add-art-form-wrapper select {
  /* border: 1px solid black!important; */
  margin-left: 2rem;
  background: white!important;
}

.add-art-form-wrapper .form-control {
  background: transparent!important;
  margin-top: 0;
}

.add-art-form-wrapper input {
  border-bottom: 1px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  margin-left: 2rem;
}


.add-art-form-wrapper .form-control p {
  margin-left: 3rem;
  font-size: 0.8rem;
  width: 200%;
}

.add-art-form-wrapper .form-group{
  margin: 0;
}

.add-art-form-wrapper .custom-control{
  margin-left: 3rem;
  margin-right: -3rem;
}

.add-art-form-wrapper .custom-select{
  margin-left: 3rem;
}

.add-art-form-wrapper button{
  float: right;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
