.personal-info {
    width: 80%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.profile-pic {
    width: 10rem;
    height: 10rem;
    /* margin-left: 5rem; */
}

.profile-pic img {
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    border: 1.5px solid #FF8AA6;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 24px rgba(240, 75, 114, 0.2));
    backdrop-filter: blur(4px);
}

.personal-info-text{
    display: flex;
    margin-left: -6rem;
    justify-content: left;
}

.col-1 {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.follow-stats {
    display: flex;
    justify-content: space-around;
    width: 15rem;
    margin-left: -1rem;
}

.profile-btn-wrapper {
    display: inline-block;
    /* flex-direction: column; */
    /* margin-left: 3rem; */
    /* width: 80%; */
}

.profile-btn-wrapper button {
    margin-bottom: 1rem;
    width: 60%;
}