.paragraphs {
    margin-top: 100px;
    margin-bottom: 200px;
}

.about {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

.main {
    width: 90%;
    margin: auto;
}

/* INTRO SIGN UP SCREEN */
.signup-title {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #4A4A4A;
}

.signup-subtitle {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #4A4A4A;
}

.intro-wrapper {
    display: flex;
}

.abstract-art {
    width: 690px;
    height: 390px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25rem;
    margin-top: 15rem;
}

.pink-elipse {
    position: absolute;
    right: 0;
    height: 90%;
    z-index: -1;
}

.intro-text-wrapper {
    width: 60%;
    margin-top: 10rem;
    margin-left: 3rem;
}

.intro-btn-wrapper {
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: space-between;
    margin-left: 14rem;
    margin-top: auto;
    
}

.intro-btn-wrapper button{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 1.5rem;
    color: white;
    font-size: 1.3rem;
}

.intro-signup-btn {
    background: #F04B72;
    border: none;
}

.intro-guest-btn {
    border: 1px solid white;
    background: transparent;
}

/* SIGN UP SCREEN */

.signup-wrapper {
    display: flex;
}

.left-wrapper {
    background-color: #FFBECE;
    width: 50%;
    height: 91.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label-wrapper {
    display: flex;
    float: right;
    justify-content: space-around;
    margin-right: 2rem;
}

.profile-type-selector {
    border: 2px solid #F04B72;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.right-wrapper {
    background-color: rgba(229, 229, 229, 0.5);
    width: 50%;
}

.white-rectangle {
    background-color: white;
    width: 70%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 0px 16px 16px #F04B72;
    margin: auto;
    cursor: pointer;
}

.add-profile-pic {
    border: 2px solid #F04B72;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 2rem;
}

.white-rectangle img {
    margin-left: 3rem;
    margin-top: 3rem;
}

.white-rectangle p {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-right: 4rem;
}

.signup-form-wrapper {
    width: 60%;
    margin: auto;
    margin-top: 8rem;
    /* text-align: right; */
}

.right-wrapper .form-control {
    background-color: #E9E7E7;
    margin-top: 0.5rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
}

.right-wrapper ::placeholder {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    vertical-align: top;
}

.right-wrapper input {
    font-family: 'Roboto', sans-serif;
}

.signup-form-wrapper button{
    margin-top: 3rem;
    background-color: #F04B72;
    border-radius: 6px;
    width: 12rem;
    height: 3rem;
    border: none;
    text-align: left;
    padding-left: 3rem;
    float: right;
}
.signup-form-wrapper button:hover{
    background-color: #f04b72b6;
}

.signup-form-wrapper span {
    margin-left: 4rem;
}