.paragraphs {
    margin-top: 100px;
    margin-bottom: 200px;
}

.about {
    text-align: justify;
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
}

.artwork-wrapper {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 60%; */
    margin: auto;
}

.artwork-wrapper img {
    width: 100%;
}

.main {
    width: 90%;
    margin: auto;
}