.main {
    width: 80%;
    margin: auto;
}

.feed-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.wrong-credentials {
    color: red;
    /* font-weight: bold; */
}