.nav-links {
    margin-left: 1rem;
}

.artwork-card:hover {
    opacity: 0.8;
}

.feed-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.outer-artwork {
    width: 30%;
    cursor: pointer;
}

.modal-content {
    /* display: flex;
    flex-direction: row !important; */
    display: inline;
}

.modal-img {
    width: 45%;
    float: left;
}

.modal-img img {
    width: 10rem;
}

.modal-info {
    width: 45%;
    float: right;
}

