.nav-links {
    margin-left: 1rem;
}
.nav-links:hover {
    color: #000;
}

.card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.modal-content {
    display: inline;
}

.modal-body,
.modal-header,
.modal-footer {
    background-color: #fff;
}

.modal-img {
    width: 100%;
}

.add-to-cart {
    background-color: #EE2A7B!important;
    font-family: "Roboto", sans-serif!important;
    border: none!important;
    width: 100%;
    margin-bottom: 1rem;
}

.add-to-cart:hover {
    background-color: #ee2a7c9f!important;
}

.save-for-later {
    background-color: transparent!important;
    font-family: "Roboto", sans-serif!important;
    border: 1px solid #EE2A7B!important;
    width: 100%;
    color: #EE2A7B!important;
    margin-bottom: 1rem;
}

.save-for-later:hover {
    background-color: #EE2A7B!important;
    color: white!important;
}

.see-more {
    text-align: center!important;
    margin: auto;
    text-decoration: underline;
    color: #000;
}

.modal-footer {
    justify-content: center!important;
}
