body {
  margin: 0;
  font-family: 'Cantata One', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #131416;
}

p, a, button {
  font-family: "Roboto", sans-serif;
}